.input {
  &--combobox {
    flex-direction: row;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 0;

    & > input {
      text-overflow: ellipsis;
      padding: 11px 33px 11px 41px;
      background-color: #f6f6f6;
      min-height: 52px;
      margin: 0;
      flex: 1;
      white-space: nowrap;
      box-sizing: border-box;
      line-height: 24px;
      font-weight: normal;
      z-index: 0;
      font-size: 16px;
      width: 100%;
      position: relative;
      outline: none;
      overflow: hidden;
      border: none;
    }

    &.destination {
      margin-top: 8px;
    }
  }

  &--icons {
    left: 22px;
    bottom: 33px;
    top: 33px;
    background-color: #000000;
    position: absolute;
    width: 1px;

    &::before {
      background-color: #f6f6f6;
      border: 1px solid #000000;
      bottom: -10px;
      height: 5px;
      width: 5px;
      left: -3px;
      position: absolute;
      content: "";
    }

    &::after {
      background-color: #f6f6f6;
      border: 1px solid #000000;
      border-radius: 50%;
      top: -10px;
      height: 6px;
      width: 6px;
      left: -3px;
      position: absolute;
      content: "";
    }
  }
}
