.destination {
   margin-top: 8px;
}

.hero {
   margin: 0 auto;
   min-height: auto;
   background-color: #eeeeee;
   width: 100%;
   display: flex;
   position: relative;
   padding-bottom: 0;
   padding-top: 0;

   @media screen and (min-width: 320px) {
      padding-bottom: 0;
      padding-top: 0;
   }

   @media screen and (min-width: 600px) {
      padding-bottom: 0;
      padding-top: 0;
   }

   @media screen and (min-width: 1136px) {
      padding-bottom: 0;
      padding-top: 0;
   }

   &__inner {
      z-index: 0;
      background-size: cover;
      background-position: center center;
      margin: 0 auto;
      height: auto;
      background-repeat: no-repeat;
      width: 100%;
      position: relative;
      display: flex;
      overflow: hidden;

      &-bg {
         visibility: visible;
         left: 0;
         bottom: 0;
         top: 0;
         right: 0;
         z-index: 0;
         position: absolute;
         overflow: hidden;

         @media screen and (min-width: 320px) {
            visibility: visible;
            display: grid;
         }

         @media screen and (min-width: 600px) {
            visibility: visible;
            display: grid;
         }

         &--inner {
            left: 0;
            bottom: 0;
            top: 0;
            height: 100%;
            background-color: #eeeeee;
            right: 0;
            width: 100%;
            position: absolute;

            & > img {
               padding-bottom: 0px;
               transform: scaleX(1);
               object-fit: cover;
               height: 100%;
               width: 100%;
            }
         }
      }

      &-content {
         align-self: flex-start;
         margin-left: auto;
         margin-right: auto;
         max-width: 100%;
         width: 100%;
         padding-bottom: 0;
         padding-top: 0;

         @media screen and (min-width: 320px) {
            max-width: 100%;
            padding-bottom: 0;
            padding-top: 0;
         }

         @media screen and (min-width: 600px) {
            max-width: 100%;
            padding-bottom: 0;
            padding-top: 0;
         }

         @media screen and (min-width: 1136px) {
            max-width: 1280px;
            padding-bottom: 0;
            padding-top: 0;
         }

         &--container {
            padding: 40px 24px;
            background-color: #eeeeee;
            color: #000000;

            @media screen and (min-width: 320px) {
               padding: 40px 24px;
            }

            @media screen and (min-width: 600px) {
               padding: 56px 32px;
            }

            @media screen and (min-width: 1136px) {
               padding: 64px;
            }

            &__tabs {
               flex-direction: column;
               box-sizing: border-box;
               display: flex;
               @media screen and (min-width: 1136px) {
                  max-width: 50%;
               }

               &--content {
                  direction: ltr;
                  align-content: flex-start;
                  flex-direction: column;
                  margin-left: auto;
                  margin-right: auto;
                  width: 100%;
                  display: flex;
                  position: relative;

                  .tab__item {
                     @media screen and (min-width: 1136px) {
                        max-width: 100%;
                        position: static;
                        order: 1;
                        opacity: 1;
                        visibility: visible;
                        z-index: 0;
                     }

                     &--container {
                        max-width: 1280px;
                        grid-row: 3;
                        grid-column: 1 / 13;
                        visibility: visible;
                        opacity: 1;
                        direction: ltr;
                        position: relative;
                        box-sizing: border-box;

                        &__grid {
                           box-sizing: border-box;
                           display: grid;
                           position: relative;

                           @media screen and (min-width: 1120px) {
                              grid-template-columns: repeat(12, 1fr);
                              grid-row: 3;
                              grid-column: 2 / 4;
                           }
                        }

                        &__inner {
                           box-sizing: border-box;
                           position: relative;

                           @media screen and (min-width: 320px) {
                              grid-row: 1 / 2;
                              direction: ltr;
                              background-color: #ffffff;
                              grid-column: 1 / 5;
                           }

                           @media screen and (min-width: 600px) {
                              grid-row: 1 / 2;
                              direction: ltr;
                              background-color: #ffffff;
                              grid-column: 1 / 9;
                           }

                           @media screen and (min-width: 1136px) {
                              grid-column: 1 / 7;
                              max-width: 1280px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
