.layout--auth {
   background-color: #eee;

   @media (max-width: 540px) {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
   }

   &__container {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 650px;
      min-width: 540px;
      height: 100vh;

      &--header {
         width: 100%;
         max-width: 720px;
         min-width: 540px;
         text-align: center;
         padding: 64px 0 25px 1px;

         &__logo {
            font-weight: 600;
            a {
               font-size: 30px;
            }
         }
      }

      .main {
         background-color: white;
         padding-top: 1px;

         .layout--auth__signin {
            border: 0px;

            &--options {
               padding: 25px 20px 15px;
               text-align: center;

               .title {
                  float: left;
                  padding: 0px;
                  margin: 0px;
                  width: 50%;
                  border-bottom: 2px solid #f1f1f1;
                  box-sizing: border-box;
                  border-radius: 0;
                  padding: 20px 0 17px;
                  position: relative;
                  text-decoration: none;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 1.7;
                  letter-spacing: 0.4px;
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  line-height: 1.7;

                  &.active {
                     border-bottom: 2px solid #0d9648;
                  }

                  &:first-of-type::after {
                     content: " ";
                     height: 25px;
                     width: 2px;
                     position: absolute;
                     right: 0px;
                     top: 14px;
                     background: #2d2d2d;
                     opacity: 0.1;
                  }

                  a {
                     text-decoration: none;
                     font-style: normal;
                     font-weight: 700;
                     font-size: 14px;
                     line-height: 1.7;
                     letter-spacing: 0.4px;
                     text-transform: uppercase;
                     letter-spacing: 2px;
                     line-height: 1.7;
                     border-bottom: 0px !important;
                     color: #767676;
                     margin: 0;
                     padding: 0;
                     cursor: pointer;
                  }
               }

               .clear {
                  height: 1px;
                  clear: both;
                  width: 100%;
               }
            }
         }
      }
   }
}
