.ride-details {
   min-height: 100vh;
   bottom: auto;
   position: relative;
   top: 32vh;
   width: 100%;
   z-index: 2;
   background-color: white;

   @media (min-width: 600px) {
      bottom: 16px;
      display: flex;
      flex-direction: column;
      min-height: auto;
      position: absolute;
      top: 16px;
      width: 406px;
      left: 16px;
      padding: 20px 0px 0px;
   }

   @media (min-width: 1280px) {
      left: calc((100vw - 1280px) / 2);
   }

   &--top {
      padding: 16px;
      position: relative;
      // text-align: center;
   }

   &--drag__icon {
      @media (max-width: 600px) {
         background-color: rgb(226, 226, 226);
         display: block;
         height: 4px;
         left: 44%;
         position: absolute;
         top: 8px;
         width: 12%;
      }
   }

   &--text {
      padding: 16px 0;
      position: relative;
      color: rgb(0, 0, 0);
      display: none;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      box-sizing: border-box;

      @media screen and (min-width: 600px) {
         display: block;
         font-size: 36px;
         font-weight: 700;
         line-height: 44px;
      }
   }

   &--middle {
      padding: 0 16px;

      .input-fields {
         position: relative;

         input:focus {
            border: 2px solid black;
         }

         &--icons {
            left: 22px;
            bottom: 33px;
            top: 33px;
            background-color: #000000;
            position: absolute;
            width: 1px;

            &::before {
               background-color: #f6f6f6;
               border: 1px solid #000000;
               bottom: -10px;
               height: 5px;
               width: 5px;
               left: -3px;
               position: absolute;
               content: "";
            }

            &::after {
               background-color: #f6f6f6;
               border: 1px solid #000000;
               border-radius: 50%;
               top: -10px;
               height: 6px;
               width: 6px;
               left: -3px;
               position: absolute;
               content: "";
            }
         }

         .destination {
            margin-top: 8px;
         }
      }

      .time-picker {
         display: flex;
         flex-direction: row;
         padding-top: 16px;
         padding-bottom: 16px;

         .button {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-width: 0px;
            border-style: none;
            outline: none;
            box-shadow: none;
            text-decoration: none;
            appearance: none;
            transition-property: background;
            transition-duration: 200ms;
            transition-timing-function: cubic-bezier(0, 0, 1, 1);
            cursor: pointer;
            margin: 0px;
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            border-radius: 30px;
            padding: 10px 12px;
            color: rgb(0, 0, 0);
            background-color: rgb(238, 238, 238);
         }

         .clock-icon {
            display: flex;
            margin-right: 12px;
         }

         .dropdown-icon {
            display: flex;
            margin-left: 12px;
         }
      }
   }

   .ride-picker {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      overflow-y: scroll;

      &::-webkit-scrollbar {
         display: none;
      }

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      @media (min-width: 600px) {
         padding-top: 0px;
      }

      &--container {
         display: flex;
         flex-direction: column;
         padding: 10px;
      }

      &--list {
         list-style-type: none;
         margin: 0px;
         padding: 0px;
      }

      &--item {
         align-items: center;
         background-color: rgb(255, 255, 255);
         cursor: pointer;
         display: flex;
         flex-direction: row;
         list-style-type: none;
         margin-bottom: 4px;
         min-height: unset;
         position: relative;
         width: 100%;
         padding-right: calc(14px);
         border-color: rgb(226, 226, 226);
         border-radius: 12px;
         border-style: solid;
         border-width: 2px;

         .ride-image {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            width: 88px;
            margin-right: 8px;
         }

         &__details {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: space-between;
            height: 100%;
            padding-bottom: 16px;
            padding-top: 16px;

            .description {
               display: flex;
               -webkit-box-orient: vertical;
               -webkit-box-direction: normal;
               flex-direction: column;

               .name {
                  color: rgb(0, 0, 0);
                  font-size: 18px;
                  font-weight: 500;

                  .passenger-icon {
                     margin-left: 8px;
                     margin-right: 2px;
                  }

                  .passenger-number {
                     color: rgb(0, 0, 0);
                     font-size: 14px;
                     font-weight: normal;
                  }
               }

               .availability {
                  color: rgb(0, 0, 0);
                  font-size: 14px;
                  font-weight: normal;
               }

               .additional-info {
                  color: rgb(84, 84, 84);
                  display: -webkit-box;
                  overflow: hidden;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  font-size: 14px;
                  font-weight: normal;
                  line-height: 20px;
               }
            }

            .price {
               align-items: center;
               display: flex;
               flex-direction: row;
               flex-shrink: 0;

               &--container {
                  align-items: flex-end;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-left: 16px;
               }

               &--text {
                  color: rgb(0, 0, 0);
                  text-align: right;
                  font-size: 18px;
                  font-weight: 500;
               }

               .next-icon {
                  color: rgb(107, 107, 107);
                  transform: rotate(0deg);
                  margin-left: 6px;
               }
            }
         }
      }
   }

   .ride-actions {
      background-color: rgb(255, 255, 255);
      bottom: 0px;
      left: 0px;
      padding: 16px;
      position: fixed;
      right: 0px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px -4px 16px -4px;

      @media (min-width: 600px) {
         position: static;
      }

      .payment-method {
         align-items: center;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding-bottom: 16px;

         &--container {
            align-items: center;
            display: flex;
            flex-direction: row;
         }

         &--image {
            height: 20px;
            margin-right: 16px;
         }

         &--text {
            color: rgb(0, 0, 0);
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
         }
      }

      &--button {
         display: inline-flex;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         flex-direction: row;
         -webkit-box-align: center;
         align-items: center;
         -webkit-box-pack: center;
         justify-content: center;
         border-width: 0px;
         border-style: none;
         outline: none;
         box-shadow: none;
         text-decoration: none;
         appearance: none;
         transition-property: background;
         transition-duration: 200ms;
         transition-timing-function: cubic-bezier(0, 0, 1, 1);
         cursor: pointer;
         margin: 0px;
         font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 16px;
         font-weight: 500;
         line-height: 20px;
         border-radius: 8px;
         padding: 14px 16px;
         width: 100%;

         &:disabled {
            cursor: not-allowed;
            background-color: rgb(246, 246, 246);
            color: rgb(175, 175, 175);
         }
      }
   }
}
